/**
 * Page
 **/

body {
	background-color: #f5f5f5;
	/* background: url("/img/background.avif") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; */
}

/**
 * Banner
 **/

.header__container {
	/* background-color: #f5f5f5; */
	background: url("/img/banner.webp");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.logo__tagline {
	color: #000000;
	font-size: 1.0rem;
}

.logo__text {
	text-shadow: #e5e5e5 -1px 0px, #e5e5e5 0px 1px, #e5e5e5 1px 0px, #e5e5e5 0px -1px;
}

/**
 * Button
 **/

.btn {
	background: #0060ae;
}

.btn:hover {
	background: #c67312;
}

/**
 * Resources Links
 **/

.widget__title {
	border-color: #c67312;
}

.widget__item {
	border: 0 none;
}

.widget-resources__item {
	display: inline-block;
	padding: 5px 1px;
}

.widget-sidemenu a {
	color: #0060ae;
	font-weight: 700;
}

.widget-sidemenu a:hover {
	color: #c67312;
}

/**
 * Google Map
 **/

.gmap {
	min-width: 200px;
	width: 100%;
	height: 450px;
	border: 0;
}

.maplink {
	color: #c67312;
	font-weight: 700;
}

/**
 * Page Contents (heading links)
 **/

.toc__menu li {
	display: inline-block;
	padding: 1px;
}

.toc__menu li a {
	background: #0060ae;
	color: #fff;
	transition: background-color .25s ease-out;
	padding-left: 10px !important;
}

.toc__menu li a:hover {
	background: #c67312;
	text-decoration: none;
}

/**
 * Main Menu
 **/

.menu {
	border-color: #c67312;
}

.menu__item--active {
	background: #c67312;
}

.menu__item:hover{
	background: #c67312;
}

.menu__link:hover {
	background: #c67312;
}

/**
 * Table of Contents
 **/

.toc {
	border: 0 none;
}

.toc__title {
	display: none;
}

/**
 * Page Links
 **/

.content a {
	color: #0060ae;
}

.content a:hover {
	color: #c67312;
	text-decoration: none;
}

/**
 * Footer
 **/

.footer {
	color: #f0f0f0;
	font-weight: bold;
}

.footer a {
	color: #ff9e7b;
	font-weight: bold;
}

/**
 * Printer-Friendly
 **/

@media print {
	nav.menu,
	aside.sidebar,
	div.toc {
		display: none !important;
	}
}
