{{ define "main" }}
<main class="main" role="main">
        <article class="post">
                <header class="post__header">
                        <h1 class="post__title">{{ .Title }}</h1>
                        {{- with .Params.lead }}
                        <p class="post__lead">{{ . }}</p>
                        {{- end }}
                        {{ with partial "post_meta.html" . -}}
                        <div class="post__meta meta">{{ . }}</div>
                        {{- end }}
                </header>
                {{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
                {{- partial "post_toc.html" . -}}
                {{- if $.Param "mapapikey" }}{{ if $.Param "mapcenter" }}
                <script type="text/javascript">
                  let map;
                  let service;
                  let infowindow;

                  function initMap() {
                    var center = {{ $.Param "mapcenter" }};
                    var locations = [
                      {{- range $meeting_id, $meeting := $.Site.Data.geos }}
                      [ "{{ .name }}", "{{ .dsc }}", {{ float .lat }}, {{ float .lng }}],{{ end }}
                      ];
                    infowindow = new google.maps.InfoWindow();
                    map = new google.maps.Map(document.getElementById("map"), {
                      center: center,
                      zoom: {{ $.Param "mapzoom" | default 10 | int }},
                    });

                    for (let count = 0; count < locations.length; count++) {
                      let marker = new google.maps.Marker({
                        position: new google.maps.LatLng(locations[count][2], locations[count][3]),
                        map: map,
                        title: locations[count][0]
                      });

                      google.maps.event.addListener(marker, 'click', (function (marker, count) {
                        return function () {
                          infowindow.setContent(locations[count][1]);
                          infowindow.open(map, marker);
                        }
                      })(marker, count));
                    }
                  }

                  window.initMap = initMap;
                </script>
                <div id="map" class="gmap"></div>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key={{ safeURL ($.Param "mapapikey") }}&callback=initMap&libraries=places">
                </script>
                {{ end }}{{ end }}
                <div class="content post__content clearfix">
                        {{ .Content }}
                </div>
                {{- if .Params.tags }}
                <footer class="post__footer">
                        {{ partial "post_tags.html" . }}
                </footer>
                {{- end }}
        </article>
</main>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{ partial "comments.html" . }}
{{ end }}
