{{/* Mash data into a format usable for key-based sorting */}}
{{- $sorter := slice }}
{{- $uniqAddrs := slice }}
{{- $uniqDays := slice }}
{{- $uniqHours := slice }}
{{- $uniqTags := slice }}
{{- range $key, $meeting := $.Site.Data.meetings }}
  {{- range $tag := (default $meeting.type slice) }}
    {{- if not (in $uniqTags $tag) }}{{ $uniqTags = $uniqTags | append $tag }}{{ end }}
  {{- end }}
  {{- range $day, $hours := $meeting.time }}
    {{- if not (in $uniqDays $day) }}{{ $uniqDays = $uniqDays | append $day }}{{ end }}
    {{- range $hour := $hours }}
      {{- $sortTime := printf "%s %s" $day $hour }}
      {{- $addrParts := split (or $meeting.address ",,,Online") "," }}
      {{- $sortAddr := trim (index (last 1 $addrParts) 0) " " }}
      {{- if not (in $uniqAddrs $sortAddr) }}{{ $uniqAddrs = $uniqAddrs | append $sortAddr }}{{ end }}
      {{- if not (in $uniqHours $hour) }}{{ $uniqHours = $uniqHours | append $hour }}{{ end }}
      {{- $sorter = $sorter | append (dict
         "key" $key
         "sortTime" $sortTime
         "day" $day
         "hour" $hour
         "sortAddr" $sortAddr
         ) }}
    {{- end }}
  {{- end }}
{{- end -}}

{{/* Determine which list type should be generated */}}
{{- if eq (.Get "mode") "interactive" }}
{{ $sortedList := sort $sorter "sortTime" }}
<style>
/* Styling for the filter menu */
.search-bar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* Styling for each filter group */
.filter-group {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

/* Styling for the filter options */
.filter-option {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  font-size: 14px;
  min-width: 150px;
}

/* Column sorting */
.sortable {
  cursor: pointer;
  position: relative;
}

.sortable::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  right: 5px;
}

.sort-asc::before {
  border-bottom: 5px solid black;
}

.sort-desc::before {
  border-top: 5px solid black;
}

/* Hide elements on small screens */
@media screen and (max-width: 768px) {
  .mtg-address {
    display: none;
  }
}
</style>
<div id="filter-menu" class="search-bar">
  <noscript>{{ T "filter_noscript" }}</noscript>
  <div class="filter-group">
    <input id="name-filter" class="filter-option" type="text" placeholder="{{ T "Meeting" }}" />
  </div>
  <div class="filter-group">
    <select id="time-filter" class="filter-option">
      <option value="">{{ T "all_times" }}</option>
      {{- range $hour := sort $uniqHours }}
      <option value="{{ $hour }}">{{ partial "formatTime.html" $hour }}</option>
      {{- end }}
    </select>
  </div>
  <div class="filter-group">
    <select id="day-filter" class="filter-option">
      <option value="">{{ T "all_days" }}</option>
      {{- range $dow := slice "Sunday" "Monday" "Tuesday" "Wednesday" "Thursday" "Friday" "Saturday" }}{{ if in $uniqDays $dow }}
      <option value="{{ $dow }}">{{ T $dow }}</option>
      {{- end }}{{ end }}
    </select>
  </div>
  <div class="filter-group">
    <select id="region-filter" class="filter-option">
      <option value="">{{ T "all_regions" }}</option>
      {{- range $region := sort $uniqAddrs }}
      <option value="{{ $region }}">{{ $region }}</option>
      {{- end }}
    </select>
  </div>
  <div class="filter-group">
    <select id="tag-filter" class="filter-option">
      <option value="">{{ T "all_tags" }}</option>
      {{- range $tag := sort $uniqTags }}
      <option value="{{ $tag }}">{{ T (printf "%s%s" "c4r_" $tag) }}</option>
      {{- end }}
    </select>
  </div>
  <button id="reset-filters">{{ T "Reset" }}</button>
</div>

<table id="meeting-table">
  <thead>
    <tr>
      <th class="sortable mtg-time">{{ T "Time" }}</th>
      <th class="sortable mtg-name">{{ T "Meeting" }}</th>
      <th class="sortable mtg-place">{{ T "Location" }}</th>
      <th class="sortable mtg-address">{{ T "Address" }}</th>
      <th class="sortable mtg-region">{{ T "Region" }}</th>
      <th class="mtg-type" style="display:none;">Tags</th>
    </tr>
  </thead>
  <tbody>
    {{- range $token := $sortedList }}
    {{- $meeting := index $.Site.Data.meetings $token.key }}{{- $addrParts := split (or $meeting.address ",,,Online") "," }}
    <tr class="meeting-row" data-region="{{ trim (index (last 1 $addrParts) 0) " " }}" data-day="{{ $token.day }}" data-time="{{ $token.hour }}" data-tag="{{ range $tag := $meeting.type }}-{{ $tag }}{{ end }}-" data-name="{{ lower $meeting.name }}_{{ lower $meeting.place }}">
      <td class="mtg-time">{{ $token.day }} - {{ partial "formatTime.html" $token.hour }}</td>
      <td class="mtg-name"><a href="/meetings/{{ $token.key }}">{{ $meeting.name }}</a>{{ if in $meeting.type "X" }}| <img src="/img/wheelchair.png" alt="Wheelchair Accessible" width="15" />{{ end }}{{ if in $meeting.type "BA" }} <img src="/img/childcare.png" alt="Childcare Available" width="15" />{{ end }}{{ if in $meeting.type "O" }} ({{ T "c4r_O" }}){{ end }}</td>
      <td class="mtg-place">{{ $meeting.place }}</td>
      <td class="mtg-address">{{ index $addrParts 0 }}</td>
      <td class="mtg-region">{{ trim (index (last 1 $addrParts) 0) " " }}</td>
      <td class="mtg-type" style="display:none;">{{ range $tag := (default $meeting.type slice)  }}-{{ $tag }}{{ end }}-</td>
    </tr>
    {{- end }}
  </tbody>
</table>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const regionFilter = document.getElementById("region-filter");
  const dayFilter = document.getElementById("day-filter");
  const timeFilter = document.getElementById("time-filter");
  const tagFilter = document.getElementById("tag-filter");
  const nameFilter = document.getElementById("name-filter");
  const resetFilterBtn = document.getElementById("reset-filters");
  const meetingRows = document.querySelectorAll(".meeting-row");
  const sortableHeaders = document.querySelectorAll(".sortable");
  let currentSortedHeader = null;
  let ascending = true;

  regionFilter.addEventListener("change", filterMeetings);
  dayFilter.addEventListener("change", filterMeetings);
  timeFilter.addEventListener("change", filterMeetings);
  tagFilter.addEventListener("change", filterMeetings);
  nameFilter.addEventListener("input", filterMeetings);
  resetFilterBtn.addEventListener("click", resetFilters);
  sortableHeaders.forEach(header => {
    header.addEventListener("click", () => {
      toggleSort(header);
      sortMeetings(header);
    });
  });

  // Load saved filter choices when the page is loaded
  loadSavedFilters();

  function filterMeetings() {
    const selectedRegion = regionFilter.value;
    const selectedDay = dayFilter.value;
    const selectedTime = timeFilter.value;
    const selectedTag = tagFilter.value;
    const enteredName = nameFilter.value.toLowerCase();

    meetingRows.forEach(row => {
      const rowRegion = row.getAttribute("data-region");
      const rowDay = row.getAttribute("data-day");
      const rowTime = row.getAttribute("data-time");
      const rowTag = row.getAttribute("data-tag");
      const rowName = row.getAttribute("data-name");

      const regionMatch = selectedRegion === "" || rowRegion === selectedRegion;
      const dayMatch = selectedDay === "" || rowDay === selectedDay;
      const timeMatch = selectedTime === "" || rowTime === selectedTime;
      const tagMatch = selectedTag === "" || rowTag.includes('-' + selectedTag + '-');
      const nameMatch = enteredName === "" || rowName.includes(enteredName);

      row.style.display = regionMatch && dayMatch && timeMatch && tagMatch && nameMatch ? "table-row" : "none";
    });

    // Save current filter choices to local storage
    saveFilters(selectedRegion, selectedDay, selectedTime, selectedTag, enteredName);
  }

  function saveFilters(region, day, time, tag, name) {
    const filters = {
      region: region,
      day: day,
      time: time,
      tag: tag,
      name: name
    };

    localStorage.setItem("savedFilters", JSON.stringify(filters));
  }

  function loadSavedFilters() {
    const savedFilters = JSON.parse(localStorage.getItem("savedFilters"));

    if (savedFilters) {
      regionFilter.value = savedFilters.region;
      dayFilter.value = savedFilters.day;
      timeFilter.value = savedFilters.time;
      tagFilter.value = savedFilters.tag;
      nameFilter.value = savedFilters.name !== undefined ? savedFilters.name : "";

      filterMeetings(); // Apply filters based on loaded values
    }
  }

  function resetFilters() {
    regionFilter.value = "";
    dayFilter.value = "";
    timeFilter.value = "";
    tagFilter.value = "";
    nameFilter.value = "";

    filterMeetings(); // Apply filters after clearing all fields
  }

  function toggleSort(header) {
    if (header === currentSortedHeader) {
      ascending = !ascending;
    } else {
      currentSortedHeader = header;
      ascending = true;
      removeSortArrows();
      header.classList.add("sort-asc");
    }
    header.classList.toggle("sort-desc", !ascending);
    header.classList.toggle("sort-asc", ascending);
  }

  function removeSortArrows() {
    sortableHeaders.forEach(header => {
      header.classList.remove("sort-asc", "sort-desc");
    });
  }

  function sortMeetings(header) {
    const columnIndex = Array.from(header.parentNode.children).indexOf(header);

    const sortedRows = Array.from(meetingRows).sort((rowA, rowB) => {
      const cellA = rowA.children[columnIndex].textContent;
      const cellB = rowB.children[columnIndex].textContent;

      // Handle empty cells
      if (cellA === "") return ascending ? 1 : -1;
      if (cellB === "") return ascending ? -1 : 1;

      return (cellA.localeCompare(cellB)) * (ascending ? 1 : -1);
    });

    sortedRows.forEach(row => {
      row.parentNode.appendChild(row);
    });
  }
});
</script>
{{- else if  eq (.Get "mode") "address" }}
{{ range $addr := sort $uniqAddrs }}

{{ if eq $addr "0" }}Online{{ else }}{{ $addr }}{{ end }}
----

<ul id="meeting-address" class="meeting-list">{{- range $meeting := sort $.Site.Data.meetings }}{{- $addrParts := split (or $meeting.address ",,,Online") "," }}{{- if hasSuffix (index $addrParts 3) $addr }}
  <li><a href="/meetings/{{ $meeting.key }}">{{ $meeting.name }}</a>, {{ index $addrParts 0 }}{{ if in $meeting.type "X" }}| <img src="/img/wheelchair.png" alt="Wheelchair Accessible" width="15" />{{ end }}{{ if in $meeting.type "BA" }} <img src="/img/childcare.png" alt="Childcare Available" width="15" />{{ end }}{{ if in $meeting.type "O" }} ({{ T "c4r_O" }}){{ end }}</li>
{{ end }}{{ end }}</ul>
{{ end }}{{/* /range */}}
{{- else }}{{/* default: "time" */}}
{{ $sortedList := sort $sorter "sortTime" }}
{{ range $dow := slice "Sunday" "Monday" "Tuesday" "Wednesday" "Thursday" "Friday" "Saturday" }}{{ if in $uniqDays $dow }}

{{ $dow }}
----

<ul id="meeting-time" class="meeting-list">{{- range $token := $sortedList }}{{- if eq $token.day $dow }}
{{- $meeting := index $.Site.Data.meetings $token.key }}{{- $addrParts := split (or $meeting.address ",,,Online") "," }}
  <li>{{ partial "formatTime.html" $token.hour }}: <a href="/meetings/{{ $token.key }}">{{ $meeting.name }}</a>, {{ index $addrParts 0 }}{{ if in $meeting.type "X" }}| <img src="/img/wheelchair.png" alt="Wheelchair Accessible" width="15" />{{ end }}{{ if in $meeting.type "BA" }} <img src="/img/childcare.png" alt="Childcare Available" width="15" />{{ end }}{{ if in $meeting.type "O" }} ({{ T "c4r_O" }}){{ end }}</li>
{{ end }}{{ end }}</ul>
{{ end }}{{ end }}{{/* /range */}}
{{ end }}
